:root {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
    color-scheme: dark
}

.notification {
    width: 50%;
    position: absolute;
    top: 90%;
}

a {
    color: var(--link-color);
}

.context-menu {
    z-index: 999;
    position: fixed;
}